<html>
<!-- html {background-color: black} -->
<!-- <body> -->
<div class="container">
  <div class = "section">
  <h1>Let me introduce myself....</h1>
  <p>Look at the followings!</p>
  <hr> 
  
</div>

  <div class="subcontainer">
    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/dana1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I live with Dana Lee, my precious wife, and she works at Capital One, Richmond. We have signed our marriage paper in July this year but yet to have wedding due to COVID, planning to have one next year in Korea when COVID settles down a bit. </p>
        </div>
    </div>
    
    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/dogs1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I also love pets. I currently have two dogs: Hodu, a small 3-year-old pomchi, and Bori, a 4-month-old English Shepherd. Hodu is more of "cat-like" dog while Bori is very playful and goofy. I used to have sugargliders, hamsters and guinea pigs as well.</p>      </div>
    </div>

    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/travel1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I love travelling many places. I've been to South Korea, China, Japan, US, UAE, Thailand, Cambodia, Vietnam, Bahamas, Germany, Czech, Slovenia, Austria, Hungary and Croatia. I would love to travel more when COVID settles down!</p>   </div>
    </div>
  </div>

  <div class="subcontainer2">
    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/mng1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I started living at Magnolia Green, Virginia, since July 2021. So far I love my house and neighborhood, so many stars in the sky, but I really feel like I should start learning how to play golf since Magnolia Green is a very famous golf field!</p>
        </div>
    </div>
    
    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/GT1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I earned both bachelor and master degree in Electrical and Computer Engineering at Georgia Tech. It was not an easy course, but I managed to graduate with 3.71 master GPA, thanks to God! Check out all the projects that I have done in "Projects" page! </p>      </div>
    </div>

    <div class="card" style="width: 300rem;">
      <img class="card-img-top" src="/../assets/cross1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">I am a devoted Christian. Jesus loves you!</p>      </div>
    </div>
  </div>
</div>
<!-- </body> -->
</html>