<div class="container">

    <div class = "section">
        <h2>Work Experience</h2>
        <hr>   
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/qcells.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <h1>Process Engineer</h1>
                <p>Hanwha Q-Cells, Dalton, GA</p>
                <p class="a">August 2020 - June 2021</p>
                <p>• Analyzed root causes for defects in solar modules using Automated Optical Inspection (vision system), Electroluminescence and SUALAB (machine learning inspection tool)</p>
                <p>• Mass production process and auto-system optimization through 4M analysis and 6-sigma, and created SOP and training documents to guide workflow for technicians and operators</p>
                <p>• Inspected solar cell quality and reliability through microscope and peel test, conducted testing on new raw materials and machine parts, managed machine parameters in daily manner for final product quality be in correct specification</p>
                <p>• Adjusted machine vision system specifications upon machine and product model changes</p>
                <p>• Created monthly KPI report in both English and Korean to share progress and plans with facilities in US, Korea, China and Malaysia </p>
            </div>
        </div>
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/GTlogo.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <h1>Graduate Assistant / Teaching Assistant</h1>
                <p>Georgia Tech Student Worker, Atlanta GA</p>
                <p class="a">January 2019 - December 2019</p>
                <p>• ECE 3450 - Semiconductor Devices (Dr. Naeemi)</p>
                <p>• ECE 4270 - Fundamentals of Digital Signal Processing (Dr. Fekri)</p>
                <p>• Managed 120 students of two classes listed above and documented their academic status</p>
            </div>
        </div>
    </div>

    <div class = "section">
        <h2>Education</h2>
        <hr>
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/GTlogo.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <h1>Master of Electrical and Computer Engineering</h1>
                <p>Georgia Institute of Technology, Atlanta GA</p>
                <p class="a">August 2019 - May 2020</p>
                <p>• Master GPA: 3.71/4.0</p>
                <p>• Dean’s List (2019 - 2020)</p>
                <p>• Highest Honor upon Graduation</p>
            </div>
        </div>
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/GTlogo.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <h1>Bachelor of Electrical and Computer Engineering</h1>
                <p>Georgia Institute of Technology, Atlanta GA</p>
                <p class="a">August 2013 - May 2019</p>
                <p>• Undergraduate GPA: 3.54/4.0</p>
                <p>• Dean’s List (2013 - 2019)</p>
                <p>• Higher Honor upon Graduation</p>
            </div>
        </div> 
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/DCB.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <h1>IB (International Baccalaureate)</h1>
                <h1>IGCSE (International General Certificate of Secondary Education)</h1>
                <p>Dulwich College, Beijing, China</p>
                <p class="a">September 2008 - May 2013</p>
                <p>• GPA: 37/42</p>
            </div>
        </div>   
    </div>

    <div class = "section">
        <h2>Certificate</h2>
        <hr>   
        <div class="sub">
            <div class="card">
              <img class="card-img-top" src="/../assets/AWS.png" alt="Card image cap">
            </div>
            <div class="card">
                <h1>AWS Solutions Architect - Associate</h1>
                <p class="a">September 2021 - September 2024</p>
                <p>Validation Number: JRTD22FLEJQQQZ9B</p>
            </div>
        </div>  
    </div>

    <div class = "section2">
        <h2>Software</h2>
        <hr>
        <p><button class="button">MATLAB</button><button class="button">Python</button><button class="button">Java</button><button class="button">C++</button><button class="button">AWS</button></p>  
        <p><button class="button">VHDL</button><button class="button">LTSpice</button><button class="button">Autocad</button></p>
        <p><button class="button">Microsoft Office</button><button class="button">Multisim</button><button class="button">Quartus II</button></p>
        <!-- <p><span class="ribbon-highlight">Text Here</span></p> -->
    </div>

    <div class = "section2">
        <h2>Hardware</h2>
        <hr>
        <p><button class="button button2">Oscilloscope</button><button class="button button2">Function Generator</button><button class="button button2">FPGA</button><button class="button button2">Mbed Microcontroller</button><button class="button button2">Raspberry Pi 3+</button></p>  
    </div>

    <div class = "section">
        <h2>Language Skills</h2>
        <hr>   
        <div class="sub">
            <div class="card" style="width: 300rem;">
              <img class="card-img-top" src="/../assets/korea.jpg" alt="Card image cap">
            </div>
            <div class="card" style="width: 300rem;">
                <img class="card-img-top" src="/../assets/america.png" alt="Card image cap">
            </div>
            <div class="card" style="width: 300rem;">
              <img class="card-img-top" src="/../assets/china.jpg" alt="Card image cap">
            </div>
        </div>  
    </div>

</div>