<div class = "container">
    <h2>Project Experiences</h2>
    <hr>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1.
            </mat-panel-title>
            <mat-panel-description>
              Automated LED Dimmer Compatibility Tester (Sponsored by EATON)
            </mat-panel-description>
        </mat-expansion-panel-header>
          <P><i class = "fa fa-file-pdf-o"></i> ALDCT Project Report</P>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              2.
            </mat-panel-title>
            <mat-panel-description>
                RSS Feed reader for All Georgia Tech Newsfeeds from the Georgia Tech News Center
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i> RSS Project Report</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              3.
            </mat-panel-title>
            <mat-panel-description>
              Intelligent Parking System Project
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i> Auto-Parking Project Report</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              4.
            </mat-panel-title>
            <mat-panel-description>
              Source Separation of Single-Channel Mixed Speech
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i> Speech Separation Project Report</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              5.
            </mat-panel-title>
            <mat-panel-description>
              Self-Supervised Learning in 3D Clouds
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i> Image Classification Project Report</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              6.
            </mat-panel-title>
            <mat-panel-description>
              Image Deblurring and Interpolation Using LSE
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i> Image Reconstruction Project Report</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>

