<div class = "container">
    <h2>Project Experiences</h2>
    <hr>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1.
            </mat-panel-title>
            <mat-panel-description>
              Automated LED Dimmer Compatibility Tester (Sponsored by EATON)
            </mat-panel-description>
        </mat-expansion-panel-header>
          <P><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/ALDCT%20Report.pdf"> ALDCT Project Report</a></P>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              2.
            </mat-panel-title>
            <mat-panel-description>
                RSS Feed reader for All Georgia Tech Newsfeeds from the Georgia Tech News Center
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/RSS%20Report.pdf"> RSS Project Report</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              3.
            </mat-panel-title>
            <mat-panel-description>
              Intelligent Parking System Project
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/Parking%20Report.pdf"> Auto-Parking Project Report</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              4.
            </mat-panel-title>
            <mat-panel-description>
              Source Separation of Single-Channel Mixed Speech
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/Source%20Separation%20Report.pdf"> Speech Separation Project Report</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              5.
            </mat-panel-title>
            <mat-panel-description>
              Self-Supervised Learning in 3D Clouds
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/3D%20Classification%20Report.pdf"> Image Classification Project Report</a></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              6.
            </mat-panel-title>
            <mat-panel-description>
              Image Deblurring and Interpolation Using LSE
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><i class = "fa fa-file-pdf-o"></i><a href="https://github.com/sookwon36/sookwon-website/raw/master/Reports/Image%20Reconstruction%20Report.pdf"> Image Reconstruction Project Report</a></p>
        </mat-expansion-panel>
      </mat-accordion>
</div>

