

<div class="card">
    <div class = "content">
        <!-- <img class = "icon" src="../../assets/location.png" alt="location icon">
        <span> My Address </span>
        <br/>
        <img class = "icon" src="../../assets/email.png" alt="location icon">
        <span> Email </span> -->
        <ul>
            <li><i class = "icon fa fa-map-marker fa-lg"></i> Moseley, VA</li>
            <li><i class = "icon fa fa-envelope"></i> sookwon36@gmail.com</li>
            <li><i class = "icon fa fa-mobile fa-lg"></i> (678) 956-0291</li>
        </ul>
        <div class="divider"></div>
        <button onclick="window.location.href='https://www.facebook.com/soo.k.ha.7/'"><i class="fa fa-facebook-square fa-2x"></i></button>
        <button onclick="window.location.href='https://www.linkedin.com/in/soo-kwon-ha-797b52193/'"><i class="fa fa-linkedin fa-2x"></i></button>
        <button onclick="window.location.href='https://www.instagram.com/sookie_0804/'"><i class="fa fa-instagram fa-2x"></i></button>
    </div>
</div>