<nav-bar></nav-bar>

<router-outlet></router-outlet>

<!-- <div class = foot>
    <button onclick="window.location.href='https://www.facebook.com/soo.k.ha.7/'"><i class="fa fa-facebook-square fa-2x"></i></button>
    <button onclick="window.location.href='https://www.linkedin.com/in/soo-kwon-ha-797b52193/'"><i class="fa fa-linkedin fa-2x"></i></button>
    <button onclick="window.location.href='https://www.instagram.com/sookie_0804/'"><i class="fa fa-instagram fa-2x"></i></button>
</div> -->